.web {
    display: flex;
    flex: 1;
    align-items: center;
    
}

.menu_option {
    font-size: 18px;
    margin-right: 20px;
    font-weight: 600;
}

.menu_option a {
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center;
}

.option-icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.menu_option:last-child{
    margin-right: 0px;
}