
.about {
    padding-bottom: 48px;
}


.about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-photo {
    height: 420px;
}

.top-left {
    font-size: 24px;
    margin: 0px;

}

.myName {
    color: blueviolet;
    font-size: 30px;
    font-weight: 500;
}

@media only screen and (max-width: 720px) {
    .about-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-photo {
        height: 280px;
    }

    .top-left {
        font-size: 20px;
    }

    .myName {
        font-size: 26px;
    }
}