.workCard {
    padding: 8px;
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.work-logo {
    height: 120px;
}

.work-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.work-tenure {
    color: darkgray;
    font-size: 14px;
}

.work-desc {
    margin-top: 16px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;

}

.work-designation {
    font-size: 16px;
    color: rgb(105, 104, 104);
}

.company_name {
    font-size: 24px;
    font-weight: 600;
}

@media only screen and (max-width: 720px) {
    .workCard {
        width: 100%;
    }
}